[importlinter]
root_packages =
    tiny_swarm_world

[importlinter:contract:domain_no_infrastructure_imports]
name = Domain layer does not import infrastructure
type = forbidden
source_modules =
    tiny_swarm_world.domain
forbidden_modules =
    tiny_swarm_world.infrastructure
allow_indirect_imports = True

[importlinter:contract:domain_no_application_imports]
name = Domain layer does not import application
type = forbidden
source_modules =
    tiny_swarm_world.domain
forbidden_modules =
    tiny_swarm_world.application
allow_indirect_imports = True

[importlinter:contract:application_no_infrastructure_imports]
name = Application layer does not import infrastructure
type = forbidden
source_modules =
    tiny_swarm_world.application
forbidden_modules =
    tiny_swarm_world.infrastructure
allow_indirect_imports = True
